Repository tskit-dev/tsinfer: changes, and which Codecov flags are due for each by the changed paths.
All: Python API, Python C interface, C library

codecov.yml:

ignore:
  - "lib/tests/"
  - "lib/avl.c"
  - "lib/subprojects/**/*"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_code
      name: Python API
      paths:
        - tsinfer/*.py

    - component_id: python_c_code
      name: Python C interface
      paths:
        - _tsinfermodule.c

    - component_id: c_code
      name: C library
      paths:
        - lib

Remove false-positive multiple-roots check from topology validation
  lib/ancestor_matcher.c
  lib/err.c
  lib/err.h
  lib/tests/tests.c
Due: C library

Validate topology in matcher_indexes_alloc to prevent segfaults
  lib/ancestor_matcher.c
  lib/err.c
  lib/err.h
  lib/tests/tests.c
Due: C library

Get docs building cleanly with new CLI+config workflow
  docs/_config.yml
  docs/_static/example_ancestral_state.fa
  docs/_toc.yml
  docs/api.rst
  docs/cli.rst
  docs/config.md
  docs/file_formats.rst
  docs/index.md
  docs/inference.md
  docs/large_scale.md
  docs/quickstart.md
  docs/simulation-example.py
  docs/usage.md
  pyproject.toml
  uv.lock
Due: none

Remind claude to rebuild the C module.
  CLAUDE.md
Due: none

Add validation that node 0 is never a child edge
  lib/ancestor_matcher.c
  lib/tests/tests.c
Due: C library

Reenable docs workflow
  .github/workflows/docs.yml
Due: none

Add banner.
  docs/_config.yml
  docs/index.md
Due: none

Validate that node 0 is root and add test cases for root topology
  lib/ancestor_matcher.c
  lib/err.c
  lib/err.h
  lib/tests/tests.c
  tests/test_python_c.py
Due: C library

Add CLI + TOML config quickstart docs
  docs/_static/example_config.toml
  docs/_static/example_data.vcf.gz
  docs/_toc.yml
  docs/quickstart.md
Due: none

Improve C coverage, remind claude to do this.
  CLAUDE.md
  lib/tests/tests.c
Due: none

Move add_vestigial_root to new arg_ops module
  tests/test_arg_ops.py
  tests/test_lshmm.py
  tests/test_matching.py
  tests/test_python_c.py
  tsinfer/arg_ops.py
  tsinfer/matching.py
Due: Python API

Add is_reference option to AncestralState config
  docs/config.md
  docs/quickstart.md
  example_config.toml
  tests/test_genotype_roundtrip.py
  tests/test_pipeline.py
  tsinfer/config.py
  tsinfer/vcz.py
Due: Python API

Add compress_paths to arg_ops module
  tests/test_arg_ops.py
  tsinfer/arg_ops.py
Due: Python API

Wire compress_paths to path_compression option in process_group
  tests/test_arg_ops.py
  tsinfer/arg_ops.py
  tsinfer/matching.py
  tsinfer/pipeline.py
Due: Python API

Remind claude not to overcomplicate things.
  CLAUDE.md
Due: none

Default path_compression to False and update docs
  docs/inference.md
  tests/test_config.py
  tsinfer/config.py
Due: Python API

Add recombination and mismatch parameters to MatchSourceConfig
  tests/test_matcher_fixtures.py
  tests/test_matching.py
  tsinfer/config.py
  tsinfer/matching.py
  tsinfer/pipeline.py
Due: Python API

Move MatchJob dataclass from grouping.py to config.py
  tests/test_grouping.py
  tests/test_matcher_fixtures.py
  tests/test_matching.py
  tests/test_vcz.py
  tsinfer/config.py
  tsinfer/grouping.py
  tsinfer/matching.py
  tsinfer/pipeline.py
Due: Python API

Remind claude to run tests with coverage
  CLAUDE.md
Due: none

Add test for custom per-source recombination/mismatch overrides
  tests/test_matching.py
Due: none

Improve CLAUDE.md clarity and fix errors
  CLAUDE.md
Due: none

Review tweaks
  docs/inference.md
  tests/test_matcher_fixtures.py
Due: none

Update shared .github actions to v17
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  .github/workflows/wheels.yml
Due: none

Pin vcztools to 0.1.2 for now
  pyproject.toml
  uv.lock
Due: none

Pass CODECOV_TOKEN explicitly and pin shared workflows to v19
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  .github/workflows/wheels.yml
Due: none

Pin tskit-dev shared workflows to v18
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  .github/workflows/wheels.yml
Due: none
