Repository tskit-dev/tsinfer: changes, and which Codecov flags are due for each by the changed paths.
All: Python API, Python C interface, C library

Make AncestorMatcher2 API-compatible with AncestorMatcher
  tests/test_lshmm.py
  tsinfer/matching.py
Due: Python API

Fix build issue with packaging
  MANIFEST.in
Due: none

Fixup lint
  _tsinfermodule.c
  lib/ancestor_matcher.c
  tsinfer/matching.py
Due: Python API, Python C interface, C library

Initial rough work on getting ancstor_matcher decoupled
  _tsinfermodule.c
  lib/ancestor_matcher.c
  lib/test_data/multi_tree_example.trees
  lib/test_data/single_tree_example.trees
  lib/tests/tests.c
  lib/tsinfer.h
  lwt_interface
  setup.py
  tests/test_low_level.py
  tests/test_lshmm.py
  tmp.py
  tsinfer/matching.py
Due: Python API, Python C interface, C library

Port tests to new layout
  tests/test_low_level.py
  tests/test_lshmm.py
  tests/test_python_c.py
Due: none

Add matching fixture tests for AncestorMatcher2 transition
  tests/test_matcher_fixtures.py
Due: none

Tests on windows
  .github/workflows/tests.yml
  setup.py
Due: none

Add TSINFER_MATCHER env var to switch between AncestorMatcher and AncestorMatcher2
  tsinfer/matching.py
Due: Python API

Fix uninitialised sites arrays in matcher_indexes
  lib/ancestor_matcher.c
Due: C library

Unify matcher path coordinates to genomic positions
  tests/test_matcher_fixtures.py
  tsinfer/matching.py
Due: Python API

Add tsinfer-topology fixture tests to test_lshmm
  tests/test_lshmm.py
Due: none

Add a plan with some analysis on matching implementation
  plans/c-vs-python-matching-implementations.md
Due: none

Add memory diagnostics: RSS after Matcher, per-group, cache budget
  tsinfer/matching.py
  tsinfer/pipeline.py
  tsinfer/vcz.py
Due: Python API

Turn off tracemalloc
  tsinfer/pipeline.py
Due: Python API

Add informative error for multiple mutations per site in matcher_indexes
  lib/ancestor_matcher.c
  lib/err.c
  lib/err.h
  lib/tests/tests.c
Due: C library

Fix OOM: lazy reader registered with zero chunk_bytes bypassing cache budget
  tests/test_vcz.py
  tsinfer/vcz.py
Due: Python API

Fix missing fstrings
  tsinfer/pipeline.py
Due: Python API

Add C Matcher2 comparison path for tsinfer-topology tests
  tests/test_lshmm.py
Due: none

Add periodic memory diagnostics: GC, tracemalloc, RSS within groups
  tsinfer/pipeline.py
Due: Python API

Remove dead file
  tmp.py
Due: none

Add tsinfer-topology fixtures to C test suite
  lib/tests/tests.c
Due: none

Fix memory leak in find_path: use Py_BuildValue N format to transfer ownership
  _tsinfermodule.c
Due: Python C interface

Add exact expected match paths to C fixture tests
  lib/tests/tests.c
Due: none

Require functions at the top.
  pyproject.toml
  tsinfer/pipeline.py
  tsinfer/vcz.py
Due: Python API

Pass num_alleles through to MatcherIndexes on construction
  _tsinfermodule.c
  lib/ancestor_matcher.c
  lib/tests/tests.c
  lib/tsinfer.h
  tests/test_lshmm.py
  tsinfer/matching.py
Due: Python API, Python C interface, C library

Fix memory leak: delete completed futures in Matcher.match()
  tsinfer/matching.py
Due: Python API

Add a plan to remove the legacyh matcher code.
  plans/remove_legacy_matcher.md
Due: none

Tidy up tests
  tests/test_python_c.py
Due: none

Port likelihood_threshold and weight_by_n to AncestorMatcher2
  _tsinfermodule.c
  lib/ancestor_matcher.c
  lib/tsinfer.h
  tsinfer/matching.py
Due: Python API, Python C interface, C library

Enable C engine comparison in all test_lshmm fixture tests
  tests/test_lshmm.py
Due: none

Use atomic block allocator for AncestorMatcher2 total_memory
  _tsinfermodule.c
  lib/ancestor_matcher.c
  lib/tsinfer.h
  tests/test_python_c.py
Due: Python C interface, C library

Use tsi_blkalloc in matcher_indexes_t
  lib/ancestor_matcher.c
  lib/tsinfer.h
Due: C library

Fix C tests: pass DBL_MIN as likelihood_threshold instead of old precision value
  lib/tests/tests.c
Due: none

Fix windows tests
  tests/test_python_c.py
Due: none

Path conditions:
  Python API: any of: tsinfer/*.py, but not: lib/tests/, lib/avl.c, lib/subprojects/**/*
  Python C interface: any of: _tsinfermodule.c, but not: lib/tests/, lib/avl.c, lib/subprojects/**/*
  C library: any of: lib, but not: lib/tests/, lib/avl.c, lib/subprojects/**/*
