Repository tskit-dev/tsinfer: changes, and which Codecov flags are due for each by the changed paths.
All: Python API, Python C interface, C library

codecov.yml:

ignore:
  - "lib/tests/"
  - "lib/avl.c"
  - "lib/subprojects/**/*"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_code
      name: Python API
      paths:
        - tsinfer/*.py

    - component_id: python_c_code
      name: Python C interface
      paths:
        - _tsinfermodule.c

    - component_id: c_code
      name: C library
      paths:
        - lib

Fix ScheduledCache deadlock under memory pressure
  tests/test_vcz.py
  tsinfer/vcz.py
Due: Python API

Remove force-evict from worker to prevent cache thrashing
  tests/test_vcz.py
  tsinfer/vcz.py
Due: Python API

Update plans
  plans/misc.md
Due: none

Enforce module import style across codebase
  CLAUDE.md
  tests/test_python_c.py
  tsinfer/__main__.py
  tsinfer/ancestors.py
  tsinfer/cli.py
  tsinfer/config.py
  tsinfer/grouping.py
  tsinfer/matching.py
  tsinfer/pipeline.py
  tsinfer/vcz.py
Due: Python API

Enforce module import style in test suite
  tests/test_ancestors.py
  tests/test_cli.py
  tests/test_config.py
  tests/test_genotype_roundtrip.py
  tests/test_grouping.py
  tests/test_helpers.py
  tests/test_matching.py
  tests/test_multi_source_roundtrip.py
  tests/test_perfect_inference.py
  tests/test_pipeline.py
  tests/test_vcz.py
  tests/test_vcz_to_vcf.py
Due: none

Move local imports to top of file in test suite
  CLAUDE.md
  tests/helpers.py
  tests/test_ancestors.py
  tests/test_cli.py
  tests/test_grouping.py
  tests/test_pipeline.py
  tests/test_vcz_to_vcf.py
Due: none

Update readme with safety notice.
  README.md
Due: none

Fixed up main script
  pyproject.toml
Due: none

Miscellaneous changes
  examples/1kg_conf.toml
  tsinfer/config.py
  tsinfer/pipeline.py
  tsinfer/vcz.py
Due: Python API

Add short CLI options and tests using make_context
  tests/test_cli.py
  tsinfer/cli.py
Due: Python API

Add --log-file / -l option to CLI commands
  tsinfer/cli.py
Due: Python API

Add provenance module and per-group provenance records
  tests/test_provenance.py
  tsinfer/matching.py
  tsinfer/pipeline.py
  tsinfer/provenance.py
Due: Python API

Remove redundant gi variable from match loop
  tsinfer/pipeline.py
Due: Python API

Update some logging.
  tsinfer/pipeline.py
Due: Python API

Update logging/progreess
  tsinfer/pipeline.py
Due: Python API

Add memory diagnostics to TSB construction
  tsinfer/matching.py
Due: Python API

Initial rough work on getting ancstor_matcher decoupled
  _tsinfermodule.c
  lib/ancestor_matcher.c
  lib/test_data/multi_tree_example.trees
  lib/test_data/single_tree_example.trees
  lib/tests/tests.c
  lib/tsinfer.h
  lwt_interface
  setup.py
  tests/test_low_level.py
  tests/test_lshmm.py
  tmp.py
  tsinfer/matching.py
Due: Python API, Python C interface, C library

Port tests to new layout
  tests/test_low_level.py
  tests/test_lshmm.py
  tests/test_python_c.py
Due: none

Fixup lint
  _tsinfermodule.c
  lib/ancestor_matcher.c
  tsinfer/matching.py
Due: Python API, Python C interface, C library

Fix build issue with packaging
  MANIFEST.in
Due: none

Fix some packageing issues
  MANIFEST.in
  _tsinfermodule.c
  lib/ancestor_matcher.c
  tsinfer/matching.py
Due: Python API, Python C interface, C library

Update MANIFEST to use git submodules
  MANIFEST.in
Due: none
