Repository tskit-dev/tsinfer: changes, and which Codecov flags are due for each by the changed paths.
All: Python API, Python C interface, C library

codecov.yml:

ignore:
  - "lib/tests/"
  - "lib/avl.c"
  - "lib/subprojects/**/*"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_code
      name: Python API
      paths:
        - tsinfer/*.py

    - component_id: python_c_code
      name: Python C interface
      paths:
        - _tsinfermodule.c

    - component_id: c_code
      name: C library
      paths:
        - lib

Rename ancestor_matcher2 to ancestor_matcher
  _tsinfermodule.c
  lib/ancestor_matcher.c
  lib/tests/tests.c
  lib/tsinfer.h
  tests/test_lshmm.py
  tests/test_matcher_fixtures.py
  tests/test_python_c.py
  tsinfer/matching.py
Due: Python API, Python C interface, C library

Remove legacy TreeSequenceBuilder and AncestorMatcher code
  _tsinfermodule.c
  lib/ancestor_matcher.c
  lib/meson.build
  lib/object_heap.c
  lib/object_heap.h
  lib/tests/tests.c
  lib/tree_sequence_builder.c
  lib/tsinfer.h
  setup.py
  tests/algorithm.py
  tests/test_matcher_fixtures.py
  tests/test_matching.py
  tests/test_python_c.py
  tsinfer/matching.py
  tsinfer/pipeline.py
Due: Python API, Python C interface, C library

Some cleanup in the header file
  lib/tsinfer.h
Due: C library

Move AncestorBuilder reference implementation to test_ancestors.py
  tests/algorithm.py
  tests/test_ancestors.py
Due: none

Convert Site class from attrs to dataclasses in test_ancestors.py
  tests/test_ancestors.py
Due: none

Remove terminal field from Python Site dataclass in tests
  tests/test_ancestors.py
Due: none

Remove unused SynchronousExecutor and tsinfer/utils.py
  tests/test_ancestors.py
  tsinfer/utils.py
Due: Python API

Remove ancestor_builder_add_terminal_site and terminal site infrastructure
  _tsinfermodule.c
  lib/ancestor_builder.c
  lib/tests/tests.c
  lib/tsinfer.h
Due: Python C interface, C library

Remove dead code: Ancestor dataclass, _dummy_result, add_terminal_site
  tests/test_ancestors.py
  tests/test_matching.py
  tsinfer/ancestors.py
Due: Python API

Delete unused tests/algorithm.py
  tests/algorithm.py
  tests/test_ancestors.py
Due: none

Add C tests for ancestor_matcher coverage (82% → 92% lines)
  lib/tests/tests.c
Due: none

Add C development section to CLAUDE.md
  CLAUDE.md
Due: none

Add C tests for ancestor_builder coverage (65% → 93% lines)
  lib/tests/tests.c
Due: none

Add root-switching test for ancestor_matcher forward match
  lib/tests/tests.c
Due: none

Make C test data directory configurable via TSI_TEST_DATA_DIR env var
  lib/meson.build
  lib/tests/tests.c
Due: C library

Remove dead file
  .flake8
Due: none

Remove unused array converter functions from _tsinfermodule.c
  _tsinfermodule.c
Due: Python C interface

Add Python C extension tests for _tsinfermodule.c coverage (80% → 86%)
  tests/test_python_c.py
Due: none

Add Python API tests to improve coverage (94% → 95%)
  tests/test_config.py
  tests/test_matching.py
  tests/test_pipeline.py
Due: none

Add CLI + TOML config quickstart docs
  docs/_static/example_config.toml
  docs/_static/example_data.vcf.gz
  docs/_toc.yml
  docs/quickstart.md
Due: none

Remind claude to rebuild the C module.
  CLAUDE.md
Due: none

Add validation that node 0 is never a child edge
  lib/ancestor_matcher.c
  lib/tests/tests.c
Due: C library

Validate that node 0 is root and add test cases for root topology
  lib/ancestor_matcher.c
  lib/err.c
  lib/err.h
  lib/tests/tests.c
  tests/test_python_c.py
Due: C library

Validate topology in matcher_indexes_alloc to prevent segfaults
  lib/ancestor_matcher.c
  lib/err.c
  lib/err.h
  lib/tests/tests.c
Due: C library

Get docs building cleanly with new CLI+config workflow
  docs/_config.yml
  docs/_static/example_ancestral_state.fa
  docs/_toc.yml
  docs/api.rst
  docs/cli.rst
  docs/config.md
  docs/file_formats.rst
  docs/index.md
  docs/inference.md
  docs/large_scale.md
  docs/quickstart.md
  docs/simulation-example.py
  docs/usage.md
  pyproject.toml
  uv.lock
Due: none

Reenable docs workflow
  .github/workflows/docs.yml
Due: none

Remove false-positive multiple-roots check from topology validation
  lib/ancestor_matcher.c
  lib/err.c
  lib/err.h
  lib/tests/tests.c
Due: C library

Add banner.
  docs/_config.yml
  docs/index.md
Due: none

Reinstate large_scale.md as static legacy reference
  docs/_toc.yml
  docs/large_scale.md
Due: none

Improve C coverage, remind claude to do this.
  CLAUDE.md
  lib/tests/tests.c
Due: none
