Repository tskit-dev/tsinfer: changes, and which Codecov flags are due for each by the changed paths.
All: Python API, Python C interface, C library

codecov.yml:

ignore:
  - "lib/tests/"
  - "lib/avl.c"
  - "lib/subprojects/**/*"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_code
      name: Python API
      paths:
        - tsinfer/*.py

    - component_id: python_c_code
      name: Python C interface
      paths:
        - _tsinfermodule.c

    - component_id: c_code
      name: C library
      paths:
        - lib

Simplify pyproject.toml
  pyproject.toml
Due: none

Delete old files
  convert_hdf5.py
  tests/conftest.py
  tests/test_ancestors.py
  tests/test_cli.py
  tests/test_formats.py
  tests/test_inference.py
  tests/test_provenance.py
  tests/test_variantdata.py
  tests/tsutil.py
  tsinfer/__init__.py
  tsinfer/__main__.py
  tsinfer/algorithm.py
  tsinfer/ancestors.py
  tsinfer/cli.py
  tsinfer/constants.py
  tsinfer/exceptions.py
  tsinfer/formats.py
  tsinfer/inference.py
  tsinfer/progress.py
  tsinfer/provenance.py
  tsinfer/threads.py
  uv.lock
Due: Python API

Add new module stubs for tsinfer 1.0 architecture
  tests/algorithm.py
  tsinfer/ancestors.py
  tsinfer/cli.py
  tsinfer/config.py
  tsinfer/matching.py
  tsinfer/pipeline.py
  tsinfer/vcz.py
Due: Python API

Add test data helpers: make_sample_vcz, make_ancestor_vcz, ts_to_sample_vcz
  tests/helpers.py
  tests/test_helpers.py
Due: none

Drop call_genotype_mask from sample VCZ helpers
  tests/helpers.py
  tests/test_helpers.py
Due: none

Validate helpers via vcztools VCF round-trip
  pyproject.toml
  tests/helpers.py
  tests/test_vcz_to_vcf.py
  uv.lock
Due: none

Add bio2zarr equivalence tests for ts_to_sample_vcz
  pyproject.toml
  tests/test_vcz_to_vcf.py
Due: none

Implement Config system with TOML parsing and validation
  tests/test_config.py
  tsinfer/config.py
Due: Python API

Implement vcz.py: open_store, resolve_field, convenience accessors
  tests/test_vcz.py
  tsinfer/vcz.py
Due: Python API

Implement infer_ancestors (step 6): ancestor VCZ generation from sample VCZ
  tests/algorithm.py
  tests/test_ancestors.py
  tsinfer/ancestors.py
Due: Python API

Drop Zarr v3 tests
  .github/workflows/tests.yml
Due: none

Implement matching engine (step 7): Matcher, compute_groups, make_root_ts, extend_ts
  tests/test_ancestors.py
  tests/test_matching.py
  tsinfer/ancestors.py
  tsinfer/matching.py
Due: Python API

Allow fragmentary samples
  tsinfer/inference.py
Due: Python API

Implement pipeline (step 8): match, post_process, run with incremental matching
  tests/test_pipeline.py
  tsinfer/pipeline.py
Due: Python API

Implement CLI (step 9): click commands for all pipeline steps
  tests/test_cli.py
  tsinfer/cli.py
Due: Python API

Add node and individual metadata (step 10)
  tests/test_pipeline.py
  tsinfer/matching.py
  tsinfer/pipeline.py
Due: Python API

Export public API from tsinfer __init__.py
  tsinfer/__init__.py
Due: Python API

Implement interval-aware grouping in compute_groups
  tests/test_matching.py
  tsinfer/matching.py
Due: Python API

Apply global style changes across codebase
  tests/helpers.py
  tests/test_ancestors.py
  tests/test_helpers.py
  tests/test_matching.py
  tests/test_pipeline.py
  tsinfer/__init__.py
  tsinfer/ancestors.py
  tsinfer/matching.py
  tsinfer/pipeline.py
Due: Python API

Disable docs workflow
  .github/workflows/docs.yml
Due: none

Add some notes on ancestral haplotypes implementation
  tsinfer/ancestors.py
Due: Python API

Fix unitialised default value
  _tsinfermodule.c
Due: Python C interface

Put placeholder in docs workflow
  .github/workflows/docs.yml
Due: none

Fixup issue on windows
  tests/test_cli.py
Due: none

Move design file to plans dir
  plans/design.md
Due: none

Initial outline of implementation plan
  plans/implementation_plan.md
Due: none
